extends layout

block content
  h1(class = "text-center")= title
  p(class = "text-center font-italic") A Who, What, Where of Haikyuu.

  div
    h4 Teams : #{data.teamCount}
    h4 Positions : #{data.positionCount}
    h4 Players : #{data.playerCount}
