extends layout

block content
  h1(class = "text-center")= title

  div
    p 
    |  Japanese Volleyball Manga series written and illustrated by Haruichi Furudate.
    |  Seriazlied in the Shonen Jump from 2012 to all the way to 2020 when the series came to a close.
    |  Our protagonist, short in height but big in confidence and determination, wants to become a volleyball player, like his idol
    |  'The Little Giant'.    
    br
    p(class = "text-center font-italic") And thus the series started with our hero trying to live and breathe volleyball.

  div
    h3(class = "text-center") What exactly is this ?
    p 
    | Good question. This is an inventory that will help you out with the who, what and where of Haikyuu.
    | What are the Teams ? Who are the players ? And what positions do they play ?

  div
    h3(class = "text-center") Way of the Ace.
    ol
      li  Inspire allies with your back.
      li  Crush any wall.
      li  All spikes must be hit with maximum force.