extends layout

block content
    h2(class = "text-center") Oh Wow ! Hello Visitor !!
    h3(class = "text-center") Exploring the wilderness are we ?
    h3(class = "text-center") Nothing much to see here :(
    h3(class = "text-center") Use the navigation above to get back on the beaten path :)
    h3(class = "text-center") Kudos for finding this page.
    

