extends layout

block content
  h1(class = "text-center")= title

  div(class = "container")
    div(class = "row")
        each player in playerData 
            div(class = "col-4 text-center mt-1")
                a(href=player.url) #{player.player_name}