extends layout

block content
  h1(class = "text-center")= title

  // Fetching and segregating error data for each field.
  // If error is present for that field, error is embdded in the <small> tag under the input field.
  if errors
    - var form_teamName = errors.find(err => err.param === "team_name");
    - var form_teamRegion = errors.find(err => err.param === "team_region");
    - var form_teamMotto = errors.find(err => err.param === "team_motto");

  if teamData && teamData.team_image
    div(class = "container")
      h5(class = "text-center") Current Team Logo 
      img(src = teamData.team_image id = "teamLogoImage" height = "120" width = "150" class = "img-thumbnail rounded mx-auto d-block" alt = "Team Image")

  form(method="POST" enctype="multipart/form-data" )
    div(class="form-group")
        label(for="team_name") Team Name :
        input(class = "form-control" name = "team_name" type="text" placeholder = "Enter Team Name" value=(undefined===teamData ? "" : teamData.team_title) required="true")
        if form_teamName
            small(class =  "form-text text-danger") #{form_teamName.msg}

    div(class="form-group")
        label(for="team_region") Team Region :
        input(class = "form-control" name = "team_region" type="text" placeholder = "Enter Team Region" value=(undefined===teamData ? "" : teamData.team_region)  required="true")
        if form_teamRegion
            small(class =  "form-text text-danger") #{form_teamRegion.msg}

    div(class="form-group")
        label(for="team_motto") Team Motto :
        input(class = "form-control" name = "team_motto" type="text" placeholder = "Enter Team Motto" value=(undefined===teamData ? "" : teamData.team_motto) required="true")
        if form_teamMotto
            small(class =  "form-text text-danger") #{form_teamMotto.msg}

    div(class="input-group mb-3")
      div(class = "input-group-prepend")
        span(class = "input-group-text") Upload
      div(class = "custom-file")
        if teamData && teamData.team_image
          input(type = "file" class = "custom-file-input" id = "teamImage" name = "teamImage") 
          label(class = "custom-file-label" for = "teamImage") Choose another File
        else
          input(type = "file" class = "custom-file-input" id = "teamImage" name = "teamImage" required) 
          label(class = "custom-file-label" for = "teamImage") Choose a File

    button(type="submit" class = "btn btn-primary") Submit