extends layout

block content
  h1(class = "text-center")= title

  div(class = "container")
    div(class = "row")
        each team in teamData 
            div(class = "col-4 text-center mt-2")
                img(src = team.team_image height = "120" width = "150" class = "img-thumbnail rounded mx-auto d-block" alt = "Team Image")
                a(href=team.url) #{team.team_title}