body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
  margin:30px;
  padding:10px;
}

.border-check {
  border:1px solid black;
}